<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="form-wrapper-md form-full-screen">
    <form
      class="form"
      action="/racetracks"
      method="POST"
      novalidate
      enctype="multipart/form-data"
    >
      <h1 class="form-title">Create new race track</h1>
      <div class="form-group">
        <label class="form-label" for="name">Enter the name: </label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="racetrack[name]"
          required
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="location">Enter the location: </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="racetrack[location]"
          required
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="pricePerLap"
          >Enter the price per lap:
        </label>
        <span class="currency-code bold">$</span>
        <input
          class="form-control"
          type="number"
          step="0.01"
          value="0.00"
          id="pricePerLap"
          name="racetrack[pricePerLap]"
          required
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="description"
          >Enter the description:
        </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="racetrack[description]"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label class="form-label" for="img">Enter the images: </label>
        <input
          class="form-control"
          type="file"
          id="img"
          name="img"
          required
          multiple
        />
      </div>

      <button class="btn btn-primary-green">Add racetrack</button>
      <a class="btn btn-red" href="/racetracks">Stop creating</a>
    </form>
  </div>
</div>
