.form {
  background-color: $color-light-grey;
  padding: 1rem;

  .form-group {
    margin: 2rem 0;
    position: relative;

    .form-label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .currency-code {
      position: absolute;
      left: 0.5rem;
      top: 2rem;
    }

    .currency-code + input[type="number"] {
      padding-left: 1.5rem;
    }
  }

  .form-title {
    font-size: 1.5rem;
  }

  textarea {
    display: block;
    outline: 1px $color-primary-grey solid;
    background-color: $color-white;
    width: 100%;
    height: 5rem;
    resize: vertical;
    overflow: auto;
    padding: 0.5rem;

    &:focus {
      outline: 2px $color-primary-green solid;
    }
  }

  input {
    width: 100%;
    outline: 1px $color-primary-grey solid;
    background-color: $color-white;
    padding: 0.5rem;

    &:focus {
      outline: 2px $color-primary-green solid;
    }
  }

  .star-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    .form-label {
      margin-right: 0.5rem;
    }
  }
}

.form-wrapper-md {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;

  .form {
    width: 800px;
    max-width: 95%;
  }
}

.form-full-screen {
  height: calc(100vh - 5.5rem);

  @media screen and (max-width: $mobile-breakpoint) {
    height: calc(100vh - 12rem);
  }

  .form {
    margin-top: 5rem;
    padding: 3rem;

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 3rem 1.5rem;
    }
  }
}
