<header>
  <nav class="navbar navbar-dark">
    <ul class="navbar-links">
      <li><a class="navbar-content-main" href="/">Race track ranking</a></li>
      <li>
        <a class="navbar-content-sub" href="/racetracks"
          >Discover race tracks</a
        >
      </li>
      <li>
        <a class="navbar-content-sub" href="/racetracks/new">New racetrack</a>
      </li>
    </ul>
    <ul class="navbar-links">
      <% if (!currentUser) { %>
      <li><a class="navbar-content-sub" href="/login">Login</a></li>
      <li><a class="navbar-content-sub" href="/register">Sign up</a></li>
      <% } else {%>
      <li><a class="navbar-content-sub" href="/logout">Log out</a></li>
      <% } %>
    </ul>
  </nav>
</header>
<div class="container-fluid">
  <a class="navbar-brand" href="#">Race track ranking</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
    </div>
  </div>
</div>
