<div class="navbar-container">
  <nav class="navbar navbar-dark">
    <h1><a class="navbar-title" href="/">Race track ranking</a></h1>
    <ul class="navbar-links">
      <li>
        <a class="navbar-content-sub" href="/racetracks"
          >Discover race tracks</a
        >
      </li>
      <li>
        <a class="navbar-content-sub" href="/racetracks/new">New racetrack</a>
      </li>
    </ul>
    <ul class="navbar-links push account">
      <% if (!currentUser) { %>
      <li><a class="navbar-content-sub" href="/login">Login</a></li>
      <li><a class="navbar-content-sub" href="/register">Sign up</a></li>
      <% } else {%>
      <li><a class="navbar-content-sub" href="/logout">Log out</a></li>
      <% } %>
    </ul>
  </nav>
</div>
