<% layout('layouts/boilerplate') %>
<div class="min-full-screen" role="alert">
  <div class="error-container">
    <div class="error">
      <h4 class="alert-heading text-lg"><%= err.message %></h4>
      <p class="text-muted">Error code: <%= err.statusCode %></p>
      <hr />
      <% if (process.env.NOVE_ENV !== "production") { %>
      <p><%= err.stack %></p>
      <% } %>
    </div>
  </div>
</div>
