<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<header class="header">
  <div class="header-text-box">
    <span class="heading">Check our race tracks:</span>
    <div class="btn-container">
      <a class="btn btn-lg btn-dark" href="/racetracks">Click here</a>
    </div>
  </div>
</header>
