<% layout('layouts/boilerplate') %>
<div class="header-container">
  <header class="header">
    <div class="header-text-box">
      <span class="heading">Check our race tracks:</span>
      <div class="btn-container">
        <a class="btn btn-lg btn-primary-green" href="/racetracks"
          >Click here</a
        >
      </div>
    </div>
  </header>
</div>
