<% layout('layouts/boilerplate') %>
<div class="header-container">
  <header class="header">
    <div class="header-text-box">
      <div class="move-in-bottom">
        <span class="header-heading">Check our race tracks:</span>
        <div class="btn-container">
          <a
            class="btn btn-lg btn-primary-green move-in-left"
            href="/racetracks"
            >Find your dream race track</a
          >
        </div>
      </div>
    </div>
  </header>
</div>
