body {
    color: white;
    height: 100vh;
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("https://res.cloudinary.com/dixadtjff/image/upload/v1648249592/nta4_vypvop.jpg");
    background-size: cover;
    background-position: center;
}
.container {
    font-size: 150%;
}