*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

body {
  box-sizing: border-box; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 2em;
  display: inline-block;
  border-radius: 0.5em;
  transition: all 0.2s;
  position: relative; }

.btn-dark {
  background-color: #202020;
  color: #eeeeee; }

.btn-lg {
  font-size: 1.5rem; }

.btn-md {
  font-size: 1rem; }

.btn-sm {
  font-size: 0.75rem; }

.navbar {
  height: auto;
  display: flex;
  justify-content: space-between; }
  .navbar-dark {
    background-color: #202020; }
  .navbar .navbar-links {
    display: flex;
    align-items: center; }
  .navbar .push {
    margin-left: auto; }
  .navbar .navbar-title,
  .navbar .navbar-content-sub {
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none; }
  .navbar .navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #eeeeee; }
  .navbar .navbar-content-sub {
    font-size: 1rem;
    color: #cccccc; }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .navbar + * {
    margin-top: 3rem; }

@media (max-width: 650px) {
  .navbar {
    flex-direction: column; }
    .navbar .push {
      margin-left: 0; }
    .navbar .navbar-links {
      display: inline;
      align-items: center; }
      .navbar .navbar-links .navbar-content-sub {
        padding: 0.5rem 1rem; } }
