.btn {
  padding: 0.5em 1em;
  text-transform: initial;
  display: inline-block;
  border-radius: 0.5em;
  transition: all 0.2s;
  position: relative;
  text-align: center;

  &-dark {
    background-color: $color-grey-dark;
    color: $color-white;
  }

  &-red {
    background-color: $color-danger;
    color: $color-white;

    &:hover {
      background-color: darken($color-danger, 10);
    }
  }

  &-primary-green {
    background-color: $color-primary-green;
    color: $color-white;

    &:hover {
      background-color: darken($color-primary-green, 10);
    }
  }

  &-lg {
    font-size: 1.5rem;
  }

  &-md {
    font-size: 1rem;
  }

  &-sm {
    font-size: 0.75rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  line-height: 2rem;
  width: 2rem;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba($color-black, 0.2);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($color-black, 0.3);
  }
}

.btn-container {
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: flex-start;

  .btn {
    margin: 0.5rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: row;
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}
