.carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  .carousel-slide {
    display: flex;
    img {
      min-width: 100%;
    }
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 2rem;
    color: $color-primary-grey;
    font-weight: 700;
    background-color: $color-primary-green;
    border-radius: 10rem;
    padding: 0.5rem;
    opacity: 0.4;
    transition-duration: 0.2s;
    transform: translate(0, -50%);

    &#prev {
      left: 2%;
    }

    &#next {
      right: 2%;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
