.navbar {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &-dark {
    background-color: $color-primary-grey;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .push {
    margin-left: auto;
  }

  .navbar-title,
  .navbar-content-sub {
    display: block;
    text-align: center;
    padding: 1rem 0.5rem;
    text-decoration: none;
  }

  .navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-white;
  }

  .navbar-content-sub {
    font-size: 1rem;
    color: $color-white-dim;

    &:hover {
      color: lighten($color-white-dim, 15);
    }
  }
}

@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
    height: 10rem;

    .push {
      margin-left: 0;
    }

    .navbar-links {
      display: inline;
      align-items: center;

      .navbar-content-sub {
        padding: 0.5rem 1rem;
      }
    }

    .account {
      display: flex;
      align-items: flex-start;
    }
  }
}
