.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;

  &-dark {
    background-color: $color-grey-dark;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .push {
    margin-left: auto;
  }

  .navbar-title,
  .navbar-content-sub {
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
  }

  .navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-white;
  }

  .navbar-content-sub {
    font-size: 1rem;
    color: $color-white-dim;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  + * {
    margin-top: 3rem;
  }
}

@media (max-width: 650px) {
  .navbar {
    flex-direction: column;

    .push {
      margin-left: 0;
    }

    .navbar-links {
      display: inline;
      align-items: center;

      .navbar-content-sub {
        padding: 0.5rem 1rem;
      }
    }
  }
}
