.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;

  &-dark {
    background-color: $color-grey-dark;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  li a {
    display: block;
    color: $color-white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
  }

  .navbar-content-main {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-content-sub {
    font-size: 1.25rem;
    color: $color-white-dim;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  + * {
    margin-top: 3rem;
  }
}
