.text-muted {
  color: $color-muted;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.5rem;
}

.text-primary-green {
  color: $color-primary-green;
}

.bold {
  font-weight: 700;
}

.mt-1 {
  margin-top: 1rem;
}
